@using ULMS.Shared.Models
@inject UserService UserService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EduSync</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/dashboard" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        @if (UserService.GetLoggedInUser() != null && UserService.GetLoggedInUser().Role == "Admin")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/classroom">
                    <span class="oi oi-dashboard" aria-hidden="true"></span> Classroom
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/manageinstructor">
                    <span class="oi oi-dashboard" aria-hidden="true"></span> Instructors
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/managestudent">
                    <span class="oi oi-dashboard" aria-hidden="true"></span> Students
                </NavLink>
            </div>
            <!-- More Admin-specific links here -->
        }
        else if (UserService.GetLoggedInUser().Role == "Student")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/classroom">
                    <span class="oi oi-book" aria-hidden="true"></span> Classroom
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/marks">
                    <span class="oi oi-bar-chart" aria-hidden="true"></span> Marks
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/library">
                    <span class="oi oi-globe" aria-hidden="true"></span> Library
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/pastpaper">
                    <span class="oi oi-folder" aria-hidden="true"></span> Past Papers
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/studentcalendar">
                    <span class="oi oi-calendar" aria-hidden="true"></span> Calendar
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/attendance">
                    <span class="oi oi-check" aria-hidden="true"></span> Attendance
                </NavLink>
            </div>

            <!-- More Student-specific links here -->
        }
        else if (UserService.GetLoggedInUser().Role == "Instructor")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/classroom">
                    <span class="oi oi-book" aria-hidden="true"></span> Classroom
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/marks">
                    <span class="oi oi-bar-chart" aria-hidden="true"></span> Marks
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/library">
                    <span class="oi oi-globe" aria-hidden="true"></span> Library
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/pastpaper">
                    <span class="oi oi-folder" aria-hidden="true"></span> Past Papers
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/instructorcalendar">
                    <span class="oi oi-calendar" aria-hidden="true"></span> Calendar
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/attendance">
                    <span class="oi oi-check" aria-hidden="true"></span> Attendance
                </NavLink>
            </div>
            <!-- More Student-specific links here -->
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" @onclick="SignOut">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Sign Out
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        UserService.UserChanged += HandleUserChanged;
    }

    private void HandleUserChanged(object sender, UserChangedEventArgs e)
    {
        StateHasChanged(); // Force component refresh
    }
    private void SignOut()
    {
        // Implement signout logic here
        UserService.GetLoggedInUser().Role = null;
        // You may also redirect the user to the login page or perform any additional actions
    }
}
